@import url('./modules/reset.css');
@import url('./modules/common.css');
@import url('./modules/video.css');
@import url('./modules/modal.css');
@import url('./modules/game.css');


@font-face {
  font-family: Rotonda;
  src: url(../fonts/Rotonda-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Rotonda;
  src: url(../fonts/Rotonda-Bold.otf);
  font-weight: 700;
}

body {
  font-family: Rotonda, sans-serif;
  background: url(../img/lesson9/bg.png);  
}

button, textarea {
  font-family: Rotonda, sans-serif;
}

.main-page {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 30px 20px 0 20px;
}

.footer {
  margin: auto;
  color: #fff;
  text-align: center;
  position: relative;
}

.footer::before {
  position: absolute;
  width: 100%;
  height: 160px;
  top: -159px;
  left: 0;
  background: url(../img/lesson9/footer.png);
  background-size: cover;
  content: '';
}

.bg-item-1 {
  position: absolute;
  top: 0;
  right: 0;
}

.bg-item-2 {
  position: absolute;
  top: 187px;
  left: 0;
}

.nav-back,
.nav-next {
  display: inline-block;
  float: left;
  font-size: 24px;
  position: relative;
  cursor: pointer;
  margin-left: 36px;
}

.nav-next {
  float: none;
  margin-right: 36px;
}

.nav-back::before {
  content: '';
  position: absolute;
  top: -9px;
  left: -27px;
  width: 18px;
  height: 40px;
  background: url(../img/lesson9/arrow-back.png)
}

.nav-next::after {
  content: '';
  position: absolute;
  top: -4px;
  right: -27px;
  width: 18px;
  height: 40px;
  background: url(../img/lesson9/arrow-back.png);
  transform: rotate(180deg);
}

.next-link-container {
  text-align: right;
}

.nav {
  display: inline-block;
  margin-left: -103px;
  font-size: 27px;
  color: #ee2723;
  font-weight: 700;
}

.nav__text {
  margin: 0 20px;
}

.nav__arrow-right {
  cursor: pointer;
}

.bg-bone {
  position: absolute;
  top: 0;
  right: -26px;
  z-index: 0;
  width: 209px;
}

.lesson-title {
  font-size: 50px;
  margin: 32px 0 47px 0;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.lesson-title::after {
  content: '';
  position: absolute;
  top: 0;
  right: -49px;
  background: url(../img/lesson9/lines-right.png);
  width: 29px;
  height: 62px
}

.lesson-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: -49px;
  background: url(../img/lesson9/lines-left.png);
  width: 29px;
  height: 62px
}

.player-container {
  display: inline-block;
  margin: 0 auto;
}

.fixed {
  position: fixed;
  left: 10px;
  top: 50%;
  margin-top: -78px;
  z-index: 10;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 17px;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

.circle-checked {
  background: #fff;
}

.checked {
  margin: 1px 0 0 2px;
}

.download-button {
  margin-top: 45px;
  padding: 10px 20px 10px 20px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.download-button__text {
  line-height: 40px;
  display: inline-block;
  border-right: 2px solid #fff;
  padding-right: 16px;
}

.download-button__icon {
  display: inline-block;
  width: 31px;
  height: 33px;
  background: url(../img/lesson9/download-icon.png);
  background-repeat: no-repeat;
  margin-left: 14px;
  line-height: 40px;
  vertical-align: middle;
}

.test-container {
  margin-top: 35px;
  background: url(../img/lesson9/test-bg.png);
  padding: 100px 0 150px 0;
  background-size: cover;
  position: relative;
  overflow: hidden;
  /*min-height: 891px;*/
  box-sizing: border-box;
}

.test-content {
  text-align: center;
  max-width: 912px;
  margin: auto;
  position: relative;
}

.test__text {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 45px;
}

.test__title {
  font-size: 34px;
  display: inline-block;
  position: relative;
  color: #261d03;
  font-weight: 700;
  max-width: 500px;
}

.test__title::after {
  top: 0;
  left: -44px;
  width: 122%;
  height: 228%;
  background-size: 100%;
}

.test__desc {
  font-size: 27px;
  margin-top: 70px;
  line-height: 1.4;
}

.test__task {
  font-size: 27px;
  /*font-weight: 700;*/
  margin: 70px auto 55px auto;
  max-width: 700px;
}

.test-bg {
  position: absolute;
  bottom: -156px;
  right: -215px;
}

.test-popup {
  font-size: 50px;
  font-weight: bold;
  vertical-align: middle;
  padding: 30px 60px;
  position: relative;
}

.test-popup::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 19px;
  background: url(../img/lesson9/lines-popup.png);
  background-size: contain;
  background-repeat: repeat-x;
}

.test-popup::before {
  content: '';
  position: absolute;
  bottom: -19px;
  left: 0;
  width: 100%;
  height: 19px;
  background: url(../img/lesson9/lines-popup.png);
  background-size: contain;
  background-repeat: repeat-x;
}

.test-popup__text {
  display: inline-block;
  position: relative;
}

.test-popup__text::after {
  content: '';
  position: absolute;
  top: 0;
  right: -55px;
  width: 35px;
  height: 49px;
  background: url(../img/lesson9/popup-lines-right.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.test-popup__text::before {
  content: '';
  position: absolute;
  top: 0;
  left: -65px;
  width: 45px;
  height: 50px;
  background: url(../img/lesson9/popup-lines-left.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.bullet {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, .2);
  margin-right: 20px;
  line-height: 30px;
  vertical-align: middle;
  position: relative;
}

.bullet--active {
  width: 26px;
  height: 26px;
  border-radius: 17px;
  border: 2px solid #fff;
  background: transparent;
}

.bullet--active::after {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  content: '';
}

.bullet--done {
  background: #fff;
}

.bullits-container {
  margin-bottom: 40px;
}

.question-container {
  font-size: 25px;
  vertical-align: middle;
  padding: 15px 30px;
  position: relative;
  margin-bottom: 40px;
  font-weight: 700;
}

.question-container::before {
  content: '';
  position: absolute;
  bottom: -19px;
  left: 0;
  width: 100%;
  height: 19px;
  background: url(../img/lesson9/lines-popup.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.question-container::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 19px;
  background: url(../img/lesson9/lines-popup.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.answer-button {
  margin: 0 auto 20px auto;
  padding: 10px 40px 20px;
  font-size: 22px;
  display: block;
}

/*
.answer-button:last-child {
  margin-right: 0;
}
*/

.result__text {
  color: #fff;
  font-size: 34px;
  margin-bottom: 40px;
}

/*.result__score {
  font-size: 60px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  color: #fff;
}

.result__score::after {
  content: '';
  position: absolute;
  top: 0;
  right: -58px;
  width: 42px;
  height: 76px;
  background: url(../img/lesson9/result-lines-right.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.result__score::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -60px;
  width: 40px;
  height: 85px;
  background: url(../img/lesson9/result-lines-left.png);
  background-size: cover;
  background-repeat: no-repeat;
}*/

.result__score {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  position: relative;
  display: inline-block;
}

.result__score::after {
  content: '';
  position: absolute;
  top: 0;
  right: -62px;
  width: 42px;
  height: 76px;
  background: url(../img/lesson9/result-lines-right.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.red {
  color: #ee2723;
}

.result__score::before {
  content: '';
  position: absolute;
  top: 0;
  left: -70px;
  width: 40px;
  height: 85px;
  background: url(../img/lesson9/result-lines-left.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.result__desc {
  font-size: 25px;
  color: #000;
  text-align: left;
  line-height: 1.4;
  margin-bottom: 27px;
  font-weight: 700;
  max-width: 600px;
  text-align: center;
  margin: 40px auto 30px auto;
}

.result__text-content {
  font-size: 22px;
  color: #000;
  text-align: left;
  line-height: 1.2
}

p {
  margin-bottom: 15px;
}

/*.result__img {
  margin-right: 100px;
  position: relative;
}

.result__img::after {
  content: '';
  width: 548px;
  height: 441px;
  position: absolute;
  bottom: -115px;
  left: 50%;
  margin-left: -274px;
  background: url(../img/lesson9/result-lines.png)
}*/

.result__img {
  width: 200px;
  margin-right: 50px;
}

.repost {
  display: inline-block;
  vertical-align: top;
}

.repost__title {
  font-size: 27px;
  color: #fff;
  margin-bottom: 20px;
}

.repost__list-item {
  display: inline-block;
  width: 30px;
  height: 44px;
  background: url(../img/lesson9/test-social.png);
  margin-right: 80px;
  cursor: pointer;
}

.repost__list-item--ok {
  background-position: 0 0;
}

.repost__list-item--vk {
  background-position: 0 0;
  margin-right: 0;
}

.repost__list-item--fb {
  background-position: 29px 0;
}

.red {
  color: #ee2723;
}

.start-test-button--disabled {
  background: #9e9e9e;
  box-shadow: inset 0 -10px 0 #757575;
}

.question__res-title {
  font-size: 20px;
  text-align: center;
  margin: 10px 0 15px 0;
  font-weight: 700;
}

.question__res-title--wrong {
  color: #d84315;
}

.play-again {
  padding-right: 55px;
  padding-left: 55px;
}

.play-again__text {
  position: relative;
  display: inline-block;
  margin-left: 50px;
}

.play-again__text::before {
  content: '';
  width: 30px;
  height: 35px;
  position: absolute;
  top: -5px;
  left: -50px;
  background: url(../img/lesson9/again-icon.png)
}

.answer__radio {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: 0 20px 0 0;
  display: inline-block;
  left: 0;
}
.answer__radio label {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: 3px solid #000;
}
.answer__radio label:after {
  content: '';
  width: 19px;
  height: 8px;
  position: absolute;
  top: 4px;
  left: 1px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  background: 0 0;
  opacity: 0;
  transform: rotate(-45deg);
}
.answer__radio label:hover::after {
  opacity: 0.5;
  border-color: transparent;
}
.answer__radio label:hover {
  background: rgba(238, 39, 35, 0.7);
}
.answer__radio input[type=radio],
.answer__radio input[type=checkbox] {
  visibility: hidden;
}
.answer__radio input[type=radio]:checked + label,
.answer__radio input[type=checkbox]:checked + label {
  background: #ee2723;
  border-color: #ee2723;
}
.answer__radio input[type=radio]:checked + label:after,
.answer__radio input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.answer__label {
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  vertical-align: top;
  cursor: pointer;
  max-width: 550px;
}

.answer {
  margin-bottom: 15px;
  position: relative;
  padding-left: 40px;
}

.answers-container {
  text-align: left;
  margin: 0 auto 60px auto;
  max-width: 600px;
}

.result__text-container {
  display: flex;
  align-items: flex-start;
  margin: 60px 0 20px 0;
}

.question-img {
/*  width: 400px;*/
  margin: 0 auto 20px auto;
}

.test-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 15px 0;
}

.test-flex__left {
  padding-right: 70px;
}

.bold {
  font-weight: 700;
}

.question__res-desc {
  max-width: 400px;
  font-size: 18px;
  line-height: 1.3;
}

.question__res-title {
  font-size: 20px;
  text-align: center;
  margin: 10px 0 15px 0;
  font-weight: 700;
}

.modal-close {
  width: 25px;
  height: 25px;
  top: 16px;
  right: 16px;
}

.question__res-title--right {
  color: #2e7d32;
}

.question__res-title--wrong {
  color: #d84315;
}

.result__text-container {
  display: block;
}

.result__img {
  max-width: 100%;
  width: unset;
  margin: 0;
}

.result__img--desc {
  font-size: 27px;
}

.progress-line { 
  height: 36px;
  position: relative;
  margin: 5px 0 20px -10px;
  background: rgba(255,255,255,.5);
  border-radius: 25px;
  padding: 3px;
  box-shadow : inset 0 -1px 1px rgba(255,255,255,0.3);
  overflow: hidden;
  box-sizing: border-box;
}

.progress-line > span {
  display: block;
  height: 100%;
  border-radius: 25px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  position: relative;
  overflow: hidden;
}
.progress-line > span:after {
  content: "";
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  background-image: 
  linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  border-top-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
		
.progress-line--dog > span {
  background-color: #f1a165;
  background-image: linear-gradient(top, #f1a165, #f36d0a); 
}

.progress-line--people > span {
  background-color: #f0a3a3;
  background-image: linear-gradient(top, #f0a3a3, #f42323);
}

.progress-container {
  max-width: 400px;
  margin: auto;
}

.progress__title {
  font-size: 20px;
  margin: 0;
  text-align: left;
}

@media (max-width: 1350px) {
  .bg-bone {
    display: none;
  }
}

@media (max-width: 920px) {
  .lesson-title {
    font-size: 40px;
  }

  .lesson-title::before {
    top: -13px;
  }

  .lesson-title::after {
    top: -10px;
  }

  .test-bg {
    display: block;
    position: static;
    width: 200px;
    margin: -30px auto 40px auto;
  }

  .test-content {
    padding: 0 25px;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .lesson-navigation {
    position: relative;
    padding-top: 40px;
  }

  .nav-back-container {
    position: absolute;
    top: 0;
    left: 0;
  }

  .nav {
    display: block;
    margin: 0;
  }
}

@media (max-width: 740px) {
  .lesson-title {
    font-size: 30px;
  }

  .result__text-container {
    display: block;
  }

  .result__img {
    margin-bottom: 20px;
    width: 200px;
  }

  .bg-item-1 {
    width: 222px;
  }

  .bg-item-2 {
    width: 200px;
    top: 223px;
  }

  .progress {
    margin: 0 18px 0 17px;
  }
}

@media (max-width: 680px) {
  .test__title {
    font-size: 40px !important;
  }

  .result__score {
    font-size: 35px;
  }

  .result__score::before {
    height: 40px;
    width: 26px;
    background-size: contain;
    left: -35px;
    top: -3px;
  }

  .result__score::after {
    height: 40px;
    width: 26px;
    background-size: contain;
    right: -35px;
    top: 2px;
  }

  .player-controls {
    padding: 0 15px;
  }

  .player-button {
    width: 50px;
    height: 50px;
  }

  .player-button::before {
    width: 50px;
    height: 50px;
  }

    .progress {
      width: 100%;
      flex-grow: 1;
      order: 4;
      margin: 0;
  }

  .player-controls {
      flex-wrap: wrap;
      bottom: -67px;
  }

  .player-container {
    margin-bottom: 60px;
  }

  .play-button {
      order: 1;
  }

  .sound-button {
      order: 2;
  }

  .fullscreen-button {
      order: 3;
  }
}

@media (max-width: 570px) {
  .lesson-title {
    font-size: 25px;
  }

  .result__score {
    font-size: 26px;
  }

  .result__text {
    font-size: 25px;
  }

  .result__desc {
    font-size: 23px;
  }

  .test__task {
    font-size: 28px;
  }

  .test__title {
    font-size: 33px !important;
  }

  .section__title::after {
    width: 116%;
    height: 205%;
    left: -27px;
    top: 13px;
  }

  .lesson-title::after {
    width: 38px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    top: -8px;
    right: -45px;
  }

  .lesson-title::before {
    width: 38px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    top: -8px;
    left: -35px;
  }
}

@media (max-width: 485px) {
  .lesson-title {
      font-size: 22px;
  }
}

@media (max-width: 485px) {
  .lesson-title {
      font-size: 20px;
  }

  .question-container {
    padding: 10px 20px;
  }
}

@media (max-width: 400px) {
  .nav {
      font-size: 20px;
  }

  .nav__arrow-right {
      width: 40px;
  }

  .nav-back {
      font-size: 20px;
  }

  .nav-back::before {
      width: 12px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      top: -4px;
      left: -20px;
  }

  .lesson-title {
      max-width: 230px;
  }

  .test__title {
      font-size: 25px !important;
  }

  .test__text {
      font-size: 24px;
  }

  .test__task {
      font-size: 23px;
  }

  .section__title::after {
      width: 119%;
      height: 205%;
      left: -25px;
  }

  .question-container {
      font-size: 23px;
  }

  .answer__label {
      line-height: 1.3;
      font-size: 20px;
  }

  .result__text-content {
      font-size: 19px;
  }
}
