@font-face {
  font-family: Rotonda;
  src: url(../../fonts/RotondaC.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Rotonda;
  src: url(../../fonts/RotondaC-Bold.ttf);
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: Rotonda, sans-serif;
  background: url(../../img/bg-dotted.png);
}

button, textarea {
  font-family: Rotonda, sans-serif;
}

.logo {
  margin: 0 auto 30px auto;
  width: 320px;
  display: block;
}

.dn-logo {
  position: fixed;
  top: 27px;
  right: 42px;
  z-index: 10;
  width: 46px;
}

.menu-button {
  position: fixed;
  font-size: 19px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 9px 18px 41px;
  top: 27px;
  left: 42px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 7px;
  border-bottom-width: 0;
  box-shadow: inset 0 -7px 0 #000;
  z-index: 999;
  outline: none;
}

.menu-button::after {
  content: '';
  width: 105%;
  height: 100%;
  /*background: rgba(16,13,4,.05);*/
  color: rgba(16,13,4,.05);
  position: absolute;
  top: -4px;
  left: -3px;
  z-index: -1;
  border-radius: 5px;
  border-bottom: 10px solid rgba(16,13,4,.05);
}

.menu__text {
  position: relative;
  vertical-align: middle;
}

.menu__text::before {
  content: '';
  width: 26px;
  height: 14px;
  background: url(../../img/burger-icon.png);
  position: absolute;
  top: 3px;
  left: -35px;
  background-size: cover;
}

.menu-button--opened:hover>.menu__text::before {
  content: '';
  width: 20px;
  height: 22px;
  background: url(../../img/menu-close.png?31415);
  position: absolute;
  top: 0px;
  left: -30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.underline {
  display: block;
  margin: 27px auto 0 auto;
}


.pedegree-btn {
  font-size: 28px;
  color: #fcf9f7;
  text-transform: uppercase;
  padding: 15px 78px 20px 78px;
  background: #ee2723;
  border-radius: 5px;
  border: 0;
  outline: none;
  /*border-bottom: 10px solid #a91512;*/
  cursor: pointer;
  /*box-shadow: 0 7px 0 0 rgba(16, 13, 4, 0.1);*/
  z-index: 10;
  position: relative;
  box-shadow: inset 0 -10px 0 #a91512;
}

.pedegree-btn::after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(16, 13, 4, 0.05);
  color: rgba(16, 13, 4, 0.05);
  border-bottom: 10px solid;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
}

.footer {
  /*max-width: 1360px;*/
  margin: auto;
  /*padding: 70px 0 0 0;*/
  color: #fff;
  text-align: center;
  position: relative;
}

.test__title {
  text-transform: uppercase;
  font-size: 34px !important;
}

.test__task {
  font-size: 24px !important;
}

/*.footer::before {
  position: absolute;
  width: 100%;
  height: 160px;
  top: -159px;
  left: 0;
  background: url(../../img/footer.png);
  background-size: cover;
  content: '';
}*/

.item__icon {
  width: 42px;
  height: 42px;
  background: url(../../img/footer-icon.png);
  margin: 0 auto 10px auto;
}

.item__icon--1 {
  background-position: -9px -8px;
}

.item__icon--2 {
  background-position: -60px -11px;
}

.item__icon--3 {
  background-position: -109px -11px;
}

.item__icon--4 {
  background-position: -160px -11px;
}

.item__icon--5 {
  background-position: 54px -11px;
}

.social__item {
  width: 29px;
  height: 49px;
  background: url(../../img/social.png);
  display: inline-block;
  margin: 0 40px;
  cursor: pointer;
}

.social__item--ok {
  background-position: 0 0;
}

.social__item--fb {
  background-position: 141px 0;
}

.social__item--vk {
  background-position: 28px 0;
}

.footer-menu__item {
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  max-width: 137px;
  font-size: 14px;
  font-weight: 300;
  margin: 0 40px;
}

.item__img {
  width: 41px;
  margin-bottom: 7px;
}

.footer_menu {
  margin: 60px 0 30px 0;
}

.license {
  margin: 0 0 35px 0;
  font-size: 14px;
  font-weight: 300;
}

.answer__label {
  font-weight: 400 !important;  
}

.section__title::after {
  position: absolute;
  top: -15px;
  left: -50px;
  content: '';
  background: url(../../img/lesson-lines.png);
  width: 121%;
  height: 213%;
  background-size: contain;
  background-repeat: no-repeat;
}

.music {
  position: fixed;
  bottom: 20px;
  left: 40px;
  background-color: transparent;
  width: 32px;
  height: 26px;
  cursor: pointer;
  background-size: contain;
  z-index: 999;
  border: 0;
  outline: none;
  background-repeat: no-repeat;
}

.music--off {
  background-image: url(../../img/music-off.png)
}

.music--on {
  background-image: url(../../img/music-on.png)
}

.menu-container {
  display: none;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffc312;
  z-index: 998;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  /*viewBox: 0 0 342 30;*/
}

.menu {
  position: fixed;
  top: 50%;
  margin-top: -206px;
  left: 50%;
  margin-left: -169px;
}

.menu__item {
  color: #fefcfc;
  font-size: 65px;
  margin-bottom: 16px;
  font-weight: bold;
}

.menu__item-text {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  /*background-repeat: no-repeat;*/
  padding-bottom: 22px;
  /*background-size: contain;
  background-image: url(https://ad.csdnevnik.ru/special/staging/projects-new/img/menu-hover_bottom.png);
  background-position: -300px 65px;
  transition: background-position .7s ease-out;*/
  width: 337px;
}

/*.menu__item-text::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  background: url('../../img/menu-hover_right.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 7px;
  right: -60px;
  transition: width 0.2s ease-out 0.3s;
}

.menu__item-text::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  background: url('../../img/menu-hover_left.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 7px;
  left: -60px;
  transition: width 0.2s ease-out 0.3s;
}*/

.menu__item:hover>.menu__link>.menu__item-text::after,
.menu__item:hover>.menu__link>.menu__item-text::before {
  width: 42px;
  height: 60px;
}

.menu__link {
  color: inherit;
}

@media (max-width: 770px) {
  .footer-menu__item {
    margin-bottom: 30px;
  }

  .menu__item {
    font-size: 50px;
  }

  .menu__item-text {
    width: 256px;
  }

  .menu {
    margin-top: -176px;
    margin-left: -128px;
  }
}

@media (max-width: 600px) {
  .question-container {
    width: 100%;
  }

  .test-flex__left {
    width: 100%;
    padding: 0;
    order: 2;
  }

  .test-flex__right {
    width: 100%;
    order: 1;
  }

  .test-flex-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .menu-button {
    top: 13px;
    left: 13px;
  }

  .dn-logo {
    top: 13px;
    right: 13px;
  }

  .logo {
    margin: 50px auto 27px auto;
    max-width: 80%;
    display: block;
  }

  .social__item {
    margin: 0 20px;
  }

  .footer-menu__item {
    width: auto;
    display: inline-block;
    margin: 0 15px 20px;
    font-size: 12px;
    width: 115px;
  }

  .footer_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .test-flex__left {
    padding-left: 35px !important;
  }
  
  .question-container {
    padding: 5px 10px 5px 0 !important;
  }
}

@media (max-width: 370px) {
  .music {
    left: 13px;
  }
  
  .download-button {
    font-size: 18px !important;
    padding: 10px 20px !important;
  }
  
  .next-link-container {
    display: block !important;
    margin: 20px 0 0 -20px !important;
    text-align: center !important;
  }
  
  .menu__item {
    font-size: 44px;
  }

  .menu__item-text {
    width: 225px;
  }

  .menu {
    margin-top: -164px;
    margin-left: -112px;
  }

  .menu__item:hover>.menu__link>.menu__item-text::after,
  .menu__item:hover>.menu__link>.menu__item-text::before {
    width: 30px;
    height: 45px;
    top: 3px;
  }

  .menu__item-text::before {
    left: -30px;
  }

  .menu__item-text::after {
    right: -30px;
  }
  
  .pedegree-btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}
