.timer {
  position: absolute;
  top: 70px;
  font-size: 35px;
  left: 50%;
  margin-left: -50px;
  color: #fff;
  font-weight: 700;
}

.timer__time {
  width: 100px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 30px auto;
  justify-content: center;
  align-content: flex-start;
  padding: 0 20px;
  box-sizing: border-box;
  flex-flow: row wrap;
}

/*
.card-container::after {
  content: '';
  flex: auto;
  justify-content: space-between;
  width: 30%;
}
*/

.card {
/*  background: url(../../img/lesson9/card.png);*/
  width: 25%;
  height: 189px;
  flex-basis: 130px;
/*  background-size: contain;*/
/*  background-repeat: no-repeat;*/
  cursor: pointer;
  border-radius: 22px;
  margin: 0 10px 10px 0;
  position: relative;
}

.flip-container {
	perspective: 1000px;
}

/* flip the pane when hovered */
.card--flipped .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

/*
.flip-container, .front, .back {
	width: 100%;
  height: 100%;
  position: absolute;
}
*/

.front {
  background: url(../../img/lesson9/card.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 100%;
  height: 189px;
}

.back {
  width: 100%;
  height: 189px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #FFD832;
  padding: 10px 7px 0 7px;
  box-sizing: border-box;
   border: 5px solid #fff;
  border-radius: 17px;
}

.card-back__title {
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  background: #ffd832;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.card--checked {
  visibility: hidden;
}

/*
.card:hover {
  box-shadow: 1px 1px 5px 7px rgba(255, 255, 255, 0.4); 
}*/

@media (max-width: 500px) {
  .card {
    width: 25%;
    height: 116px;
    flex-basis: 80px;
  }

  .front, .back {
    height: 116px;
  }

  .card-back__title {
    font-size: 10px;
  }

  .back {
    padding: 3px 5px 0 5px;
    border-width: 3px;
    border-radius: 7px;
  }
}