.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  z-index: 999;
}

.modal {
  position: fixed;
  background: url(../../img/bg-dotted.png);
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
  top: 50%;
  left: 50%;
  max-height: 100%;
  padding: 40px;
}

.modal-content {
  /*max-width: 520px;*/
  margin: auto;
  text-align: left;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.auth__text {
  font-size: 30px;
  width: 332px;
  text-align: center;
  margin: 10px 0;
}

.auth-container {
  margin-top: 32px;
  padding: 0 70px;
}

.auth__overline {
  position: relative;
}

.auth__overline::after {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 219px;
  height: 50px;
  background: url(../../img/modal-overline.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.auth__img {
  margin-right: 70px;
}

p {
  margin-bottom: 17px;
}

.auth-actions {
  margin-top: 30px;
  text-align: center;
}

.auth-anon {
  font-size: 24px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
  margin-left: 20px;
}

.anon__msg {
  position: fixed;
  bottom: 10px;
  left: 50%;
  background: rgba(255,255,255,.7);
  font-size: 24px;
  font-weight: 700;
  padding: 20px;
  margin-left: -475px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  z-index: 100;
  cursor: pointer;
}

.anon__msg-close {
  width: 25px;
  margin-left: 70px;
  cursor: pointer;
}

@media (max-width: 680px) {
  .modal {
    width: 100vw;
    margin-left: 0 !important;
    box-sizing: border-box;
    left: 0;
  }

  .auth__img {
    width: 300px;
    max-width: 100%;
    display: block;
    height: auto;
    position: static;
    margin: auto;
  }

  .auth__text {
    position: static;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .auth-anon {
    display: block;
    margin-top: 20px;
  }

  .modal-content {
    width: 100%;
    max-width: unset;
  }
  
  .modal-close {
    width: 30px;
    top: 13px;
    right: 13px;
  }
}

@media (max-width: 500px) {
  .modal {
    position: absolute;
  }
}

@media (max-width: 400px) {
  .auth-anon {
    margin-left: 0;
  }
}