.lesson-player {
  height: 80vh;
  max-width: 100%;
  max-height: 668px;
  border-radius: 15px;
  margin: auto;
  border: 10px solid #fff;
  padding: 0 0;
  background: #fff;
  border-top-width: 8px;
  border-bottom-width: 8px;
  box-sizing: border-box;
}

.player-controls {
  position: absolute;
  bottom: -20px;
  width: 100%;
  left: 0;
  text-align: left;
  padding: 0 40px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.player-container {
  position: relative;
}

.player-button {
  background: #fff;
  border: 0;
  outline: none;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}

.player-button::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, .2);
  top: 7px;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  z-index: -1;
}

.play-button {
  background-image: url(../../img/video/play-btn.png);
  background-repeat: no-repeat;
  background-position: 57% 53%;
}

.pause-button {
  background-image: url(../../img/video/pause-btn.png);
  background-repeat: no-repeat;
  background-position: 50% 54%;
}

.sound-button {
  background-image: url(../../img/video/sound-btn.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 10px;
}

.sound-button--mutted {
  background-image: url(../../img/video/mute-btn.png);
  background-repeat: no-repeat;
  background-position: 46% 50%;
  margin-right: 10px;
}

/*.sound-button:hover .sound-range,
.sound-range:hover {
  display: block;
}*/

.fullscreen-button {
  background-image: url(../../img/video/full-screen-btn.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 10px;
}

.progress {
  padding: 14px 64px 14px 21px;
  background: #fff;
  border-radius: 19px;
  margin: 0 36px 0 33px;
  flex-basis: 800px;
  height: 38px;
  box-sizing: border-box;
  margin-top: 12px;
  position: relative;
  cursor: pointer;
}

.progress::after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, .2);
  top: 7px;
  left: 0;
  width: 100%;
  height: 38px;
  border-radius: 19px;
  z-index: -1;
}

.progress__line {
  display: inline-block;
  height: 10px;
  vertical-align: top;
  background: #ffb211;
  width: 0;
  border-radius: 3px;
  transition: width 0.5s;
}

.progress__timer {
  position: absolute;
  right: 20px;
  top: 13px;
  font-size: 14px;
  color: #8d8e8d;
  font-weight: 700;
}

.player-container {
  display: inline-block;
  margin: 0 auto;
}

.lesson-player:-webkit-full-screen {
  width: 100%;
  height: 100%;
  border: 0;
}

video::-webkit-media-controls {
  display:none !important;
}

.sound-range {
  background: #fff;
  padding: 10px;
  transform: rotate(-90deg);
  border-radius: 10px;
  width: 160px;
  position: absolute;
  left: -57px;
  top: -113px;
  display: none;
}

input[type=range].sound-range {
  -webkit-appearance: none;
}
input[type=range].sound-range:focus {
  outline: none;
}
input[type=range].sound-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #dadada;
  border-radius: 2px;
  border: 0px solid #010101;
}
input[type=range].sound-range::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #670000, 0px 0px 0px #810000;
  border: 2px solid #ee2723;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}
input[type=range].sound-range:focus::-webkit-slider-runnable-track {
  background: #dadada;
}
input[type=range].sound-range::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #dadada;
  border-radius: 2px;
  border: 0px solid #010101;
}
input[type=range].sound-range::-moz-range-thumb {
  box-shadow: 0px 0px 0px #670000, 0px 0px 0px #810000;
  border: 2px solid #ee2723;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.93);
  cursor: pointer;
}
input[type=range].sound-range::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].sound-range::-ms-fill-lower {
  background: #dadada;
  border: 0px solid #010101;
  border-radius: 4px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].sound-range::-ms-fill-upper {
  background: #dadada;
  border: 0px solid #010101;
  border-radius: 4px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].sound-range::-ms-thumb {
  box-shadow: 0px 0px 0px #670000, 0px 0px 0px #810000;
  border: 2px solid #ee2723;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.93);
  cursor: pointer;
  height: 7px;
}
input[type=range].sound-range:focus::-ms-fill-lower {
  background: #dadada;
}
input[type=range].sound-range:focus::-ms-fill-upper {
  background: #dadada;
}


@media (max-width: 680px) {
  .player-controls {
    padding: 0 15px;
  }

  .player-button {
    width: 50px;
    height: 50px;
  }

  .player-button::before {
    width: 50px;
    height: 50px;
  }

  .progress {
    width: 100%;
    flex-grow: 1;
    order: 4;
    margin: 0;
  }

  .player-controls {
      flex-wrap: wrap;
      bottom: -67px;
  }

  .player-container {
    margin-bottom: 60px;
  }

  .play-button {
      order: 1;
  }

  .sound-button {
      order: 2;
  }

  .fullscreen-button {
      order: 3;
  }
}
